<h1>Simple Tabs</h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Settings
    </ng-template>
    Content 1
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      User
    </ng-template>
    Content 2
  </mat-tab>
  
</mat-tab-group>
<br/>
<br/>

<h1>Tabs - Stretch and Below</h1>

<mat-tab-group mat-stretch-tabs>
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">apartment</mat-icon>
      Empresa
    </ng-template>
    Content 1
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Sistema
    </ng-template>
    Content 1
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">key</mat-icon>
      Segurança
    </ng-template>
    Content 2
  </mat-tab>
  
</mat-tab-group>
<br/>
<br/>

<h1>Tabs - Color</h1>

<mat-tab-group 
  class="mat-elevation-z4"
  color="warn"
>
  <mat-tab >
    <div class="mat-tab">

      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">apartment</mat-icon>
        Empresa
      </ng-template>
      <h1>Empresa</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ducimus.</p>
    </div>
  </mat-tab>
  
  <mat-tab >
    <div class="mat-tab">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">settings</mat-icon>
        Sistema
      </ng-template>
      <h1>Sistema</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ducimus.</p>
    </div>
  </mat-tab>

  <mat-tab >
    <div class="mat-tab">
      
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">key</mat-icon>
        Segurança
      </ng-template>

      <h1>Segurança</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ducimus.</p>
    </div>
  </mat-tab>
  
</mat-tab-group>
<br/>
