
mat-sidenav-content {
  height: 100vh;
}

mat-sidenav-container {
  height: 100vh;
}

mat-toolbar-row {
  padding: 0;
}

.toolbar-submenu {
  height: 205px;
  font-size: 2rem;
  margin-top: 0px;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #3b3d3f;

  &-top {
    height: 40px;
  }

  &-title {
    padding: 52px 30px;
  }

}

.container {
  padding: 15px;
}

//----- sidebar -----
.mat-drawer-content {
  background-color: #efefef;
}

.sidenav {
  width: 250px;
  margin-top: 64px; //top menu
  
  .mat-icon {
    margin: 12px 20px 0 0;
    font-size: 16px;
    color: #636363;
    height: 14.5px;
  }

  mat-toolbar {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    background-color: #fff;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .name {
    margin-top: 8px;
    font-weight: normal;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.8rem;
    color: #636363;
  }

  mat-nav-list {
    padding: 8px;

    a {
      border-radius: 10px;
      margin-bottom: 4px;
      padding-top: 1px;
      padding-bottom: 10px;
      font-size: 0.9rem;
      
      .span-label {
        //padding-bottom: 15px;
      }

      &:hover, .active {
        background-color: #e6e6e6;
      }
    }

  }

}