.logo {
  .mat-icon {
    margin: 10px 10px 10px -6px;
    font-size: 16px;
  }
}

.title {
  font-size: 18px;
}

.mat-menu-item {
  .mat-icon {
    margin-top: 5px;
    font-size: 18px;
  }
}

.toolbar-menu {
  position: fixed;
  font-size: 1rem;
  top: 0;
  color: white;
  z-index: 1000;
  height: 64px;
  background-color: #2D2F31;
  border-bottom: 1px solid #3b3d3f;
  text-shadow: 2px 1px 3px #323232;
}

.content-center {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}   

.space-right-icon {
  margin-right: 5px;
}