<h1 mat-dialog-title>Busca de registros</h1>
<div mat-dialog-content>{{ data }}</div>
<div mat-dialog-content>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, nam
  quisquam. Voluptatum ipsam minima quis? Consequatur libero dolores
  consequuntur assumenda, a nobis tempora minima dolore, sit perferendis
  repudiandae veritatis mollitia.
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Fechar ( Result )</button>
  <button mat-button mat-dialog-close="'From Html'" color="warn">Fechar</button>
</div>
