<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>

  <div class="container">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
    dolores similique sint quod minus iusto harum facilis, eaque architecto
    officiis! Reprehenderit optio, et expedita voluptas ipsum vitae impedit ut
    voluptates quas quos? Sit consequatur dolorum autem quibusdam, ex
    consequuntur quaerat corrupti harum accusantium vel? Ullam ab dolor omnis
    inventore in.
    <br/>
    <br/>
    <br/>
    <br/>
    <router-outlet></router-outlet>
  </div>
</div>
